/*aspectos generales: bordes y color de fondo de calculadora*/
.calculadora {
    border: 2px black solid;/*color del borde de la calculadora*/
    width: 390px;
    text-align: center;
    background-color: gray;
}
#marca{
    font-size: 20px;/*tamaño de letra de la marca*/
    text-align: left;
    margin-left: 35px;/*mover la marca hacia la derecha*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: gainsboro;/*color de letra*/
}
#marca2{
    font-size: 18px;/*tamaño de letra de la marca*/
    text-align: center;
    /*margin-left: 35px;mover la marca hacia la derecha*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(255, 66, 98)/*color de letra*/
}
/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#textoPantalla {
    margin-left: 25px;
    width: 312px;/*largo de la pantalla*/
    height: 35px;/*ancho de la pantalla*/
    border: 1px black solid;/*borde de la pantalla*/
    text-align: right;
    position: relative;
    left: 10px;
    padding: 5px 5px;
    background-color: white;
    font-family: "courier new";
    overflow: hidden;
}
/*botones normales: anchura y margen*/
.calculadora [type=button] {
    width: 60px;
    background-color: rgb(185, 185, 185);/*fondo de los botones*/
    color: white;/*color de la letra de los botones*/
    margin-left: 3px;
}
#brojo{
    background-color: red;/*fondo de los botones DEL y C*/
    color: white;/*color de letra de los botones DEL y C*/
    font-weight: bold;
}
#bnegro{
    background-color: black;/*fondo de los botones*/
    color: white;/*color de letra de los botones*/
    margin-left: 7px;
    width: 45px;/*largo de los botones*/
}